.App {
  text-align: center;
}

.vertical {
  position: relative;
  top: -285px;
  left: 20px;
}

.vertical2 {
  position: relative;
  top: -260px;
  left: -22px;
}

.vertical3 {
  position: relative;
  top: -235px;
  left: -65px;
}

.vertical4 {
  position: relative;
  top: -210px;
  left: -107px;
}

.verticala {
  position: relative;
  top: -285px;
  left: 20px;
}

.verticalb {
  position: relative;
  top: -260px;
  left: -50px;
}

.verticalc {
  position: relative;
  top: -235px;
  left: -120px;
}

.verticald {
  position: relative;
  top: -210px;
  left: -190px;
}

.verticale {
  position: relative;
  top: -285px;
  left: 20px;
}

.verticalf {
  position: relative;
  top: -260px;
  left: -38px;
}

.verticalg {
  position: relative;
  top: -235px;
  left: -95px;
}

.verticalh {
  position: relative;
  top: -210px;
  left: -153px;
}

.verticali {
  position: relative;
  top: -285px;
  left: 20px;
}

.verticalj {
  position: relative;
  top: -260px;
  left: -25px;
}

.verticalk {
  position: relative;
  top: -235px;
  left: -71px;
}

.verticall {
  position: relative;
  top: -210px;
  left: -117px;
}


.select {
  position: relative;
  font-size: 23px;
  font-weight:bold;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
